.btn-contact {
    display: inline-block;
    background: #25D366; /* vert WhatsApp par défaut */
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px;
    transition: 0.3s;
}

.btn-contact:hover {
    background: #128C7E; /* couleur plus foncée au hover */
}
.btn-contact:first-child {
    background: #0084FF; /* Messenger bleu */
}
.btn-contact:first-child:hover {
    background: #005BB5;
}